<form role="form" name="form" enctype="multipart/form-data" class="form-horizontal"
      ng-submit="addBlog()"
      method="post">

    <div class="form-group">
        <label class="col-sm-2 control-label">Заголовок:</label>

        <div class="col-sm-8">
            <input type="text" id="bookName" class="form-control" ng-model="blog.name"
                   name="name" placeholder="Заголовок">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Описание:</label>

        <div class="col-sm-8">
            <textarea  class="form-control" ng-model="blog.body" name="desc" rows="8"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Основная картинка:</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="blog.mainImg"  >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Дополнительные картинки:</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="urls">
        </div>
    </div>

    <a class="btn btn-primary" ng-click="addField()">Добавить параграф</a>
    <hr>
    <div class="form-group" ng-repeat="item in inputs">
        <label class="col-sm-2 control-label">Параграф:</label>
        <div class="col-sm-2">
            <input ng-model="item.field" type="text" class="form-control" placeholder="Номер">
        </div>
        <div class="col-sm-6">
            <textarea ng-model="item.value" class="form-control" rows="8"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary pull-right" value="Добавить">
        </div>
    </div>
</form>