@main-color: #ffb7c5;
@hover-color: #ffb7c5;
@border-color-main: #ffb7c5;

@border-color-light: #d4d4d4;

@box-shadow-color: rgba(0,0,0,0.15);
@box-shadow-params: 0 4px 5px;

@main-background: #fff;

@text-color: #3e3e3e;
@border-radius: 10px;

@black-color: #3e3e3e;
@white-color: #fff;